doctype html
html
  head
    title Join the #{community} on Slack! 
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      input {
        font-size: 24px;
        width: 400px;
      }
  body
  
    img(src= "http://wp.cloudify.co/wp-content/uploads/2018/01/openstack-slack.png")
    h1 Join the #{community} on Slack! (Click Enter to Send)
    form(method="POST", action="/invite")#join-form
      input(type="text", name="email", placeholder="Enter your email")#slack-email
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
